In [214]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
import re

In [215]:
df = pd.read_csv('igbd_dataset_v1.csv', skipinitialspace=False, low_memory = False)
df

,id,name,platforms,first_release_date,category,genres,themes,player_perspectives,rating,rating_count,similar_games,total_rating,total_rating_count,url,aggregated_rating,aggregated_rating_count,year,month,weighted_score,normalized_weighted_score
0,1020.0,GrandTheftAutoV,"6,9,12,48,49",2013-09-17,0.0,"5,10,14,31","1,27,33,38","1,2",91.007003,2783.0,"40,109,733,960,1121,1377,3188,3262,19441",93.423502,2817.0,https://www.igdb.com/games/grand-theft-auto-v,95.840000,34.0,2013.0,9.0,253272.490450,100.000000
1,1942.0,TheWitcher3:WildHunt,"6,48,49",2015-05-19,0.0,"12,31","1,17,38",2,95.708657,2468.0,"121,472,533,1334,1593,1887,3025,9938,11270",93.714329,2494.0,https://www.igdb.com/games/the-witcher-3-wild-...,91.720000,26.0,2015.0,5.0,236208.966262,93.262780
2,72.0,Portal2,"3,6,9,12,14",2011-04-19,0.0,"5,8,9,31","1,18,27",1,91.331534,2116.0,"7350,11646,16992,20342,22387,24426,55173,55190...",91.887989,2129.0,https://www.igdb.com/games/portal-2,92.444444,13.0,2011.0,4.0,193257.526516,76.304192
3,472.0,TheElderScrollsV:Skyrim,"6,9,12",2011-11-11,0.0,"12,31","1,17,33,38","1,2",87.714979,2184.0,"56,59,121,533,538,832,1081,1942,3025",91.913045,2196.0,https://www.igdb.com/games/the-elder-scrolls-v...,96.111111,12.0,2011.0,11.0,191569.514797,75.637711
4,1009.0,TheLastofUs,9,2013-06-14,0.0,"5,31","1,19,21,23",2,94.494275,1835.0,"533,538,1020,1121,1164,1985,2031,11270,19441",93.016368,1851.0,https://www.igdb.com/games/the-last-of-us,91.538462,16.0,2013.0,6.0,173396.994439,68.462625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122397,36795.0,SuperDoomed'nDamned,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.igdb.com/games/super-doomedn-damned,NaN,NaN,NaN,NaN,NaN,NaN
122398,114314.0,DestleStrike,NaN,NaN,0.0,32,1,NaN,NaN,NaN,"32902,37419,40524,43367,105233,111130,113895,1...",NaN,NaN,https://www.igdb.com/games/destle-strike,NaN,NaN,NaN,NaN,NaN,NaN
122399,115593.0,NextStop3,NaN,NaN,0.0,"13,15",NaN,NaN,NaN,NaN,"17613,36258,51577,55888,65827,76340,79134,1127...",NaN,NaN,https://www.igdb.com/games/next-stop-3,NaN,NaN,NaN,NaN,NaN,NaN
122400,115038.0,\u5e7d\u94c3\u5170-lilyofthehollow-,NaN,NaN,0.0,32,NaN,NaN,NaN,NaN,"8367,74127,81275,102420,108778,111130,113895,1...",NaN,NaN,https://www.igdb.com/games/you-ling-lan-lily-o...,NaN,NaN,NaN,NaN,NaN,NaN
122401,76632.0,[accuwar],82,NaN,0.0,16,39,3,NaN,NaN,NaN,NaN,NaN,https://www.igdb.com/games/accuwar,NaN,NaN,NaN,NaN,NaN,NaN

In [216]:
genres = {
    2:"Point-and-click",
    4:"Fighting",
    5:"Shooter",
    7:"Music",
    8:"Platform",
    9:"Puzzle",
    10:"Racing",
    11:"Real Time Strategy (RTS)",
    12:"Role-playing (RPG)",
    13:"Simulator",
    14:"Sport",
    15:"Strategy",
    16:"Turn-based strategy (TBS)",
    24:"Tactical",
    26:"Quiz/Trivia",
    25:"Hack and slash/Beat 'em up",
    30:"Pinball",
    31:"Adventure",
    33:"Arcade",
    34:"Visual Novel",
    32:"Indie",
    35:"Card & Board Game",
    36:"MOBA",
}

#df['State'] = df.apply(lambda x: state_dict[x['City']] if x['City'] in state_dict else x['State'], axis=1)
#df['continent'] = df.index.to_series().map(ContinentDict)
#pd.Series(df.index.values).map(ContinentDict) oxi giati den kanei.


#generates NaN because you're constructing a Series from the numpy values so the index returned is the auto-generated RangeIndex so when it tries to align against your df, it fails so all rows become NaN



df['genres'] = df.index.to_series().map(genres)
df['genres']

0                     NaN
1                     NaN
2         Point-and-click
3                     NaN
4                Fighting
               ...
122397                NaN
122398                NaN
122399                NaN
122400                NaN
122401                NaN
Name: genres, Length: 122402, dtype: object

In [217]:
themes = {
    17:"Fantasy",
    20:"Thriller",
    18:"Science fiction",
    1 :"Action",
    19:"Horror",
    21:"Survival",
    22:"Historical",
    23:"Stealth",
    28:"Business",
    27:"Comedy",
    31:"Drama",
    32:"Non-fiction",
    34:"Educational",
    33:"Sandbox",
    35:"Kids",
    38:"Open world",
    39:"Warfare",
    41:"4X (explore, expand, exploit, and exterminate)",
    42:"Erotic",
    43:"Mystery",
    40:"Party",
    44:"Romance"  
}


df['themes'] = df.index.to_series().map(themes)
df['themes']

0            NaN
1         Action
2            NaN
3            NaN
4            NaN
           ...
122397       NaN
122398       NaN
122399       NaN
122400       NaN
122401       NaN
Name: themes, Length: 122402, dtype: object

In [218]:
perspectives = {
    1:"First person",
    2:"Third person",
    3:"Bird view",
    4:"Side view",
    5:"Text",
    6:"Auditory",
    7:"Virtual Reality"
}


df['player_perspectives'] = df.index.to_series().map(perspectives)
df

,id,name,platforms,first_release_date,category,genres,themes,player_perspectives,rating,rating_count,similar_games,total_rating,total_rating_count,url,aggregated_rating,aggregated_rating_count,year,month,weighted_score,normalized_weighted_score
0,1020.0,GrandTheftAutoV,"6,9,12,48,49",2013-09-17,0.0,NaN,NaN,NaN,91.007003,2783.0,"40,109,733,960,1121,1377,3188,3262,19441",93.423502,2817.0,https://www.igdb.com/games/grand-theft-auto-v,95.840000,34.0,2013.0,9.0,253272.490450,100.000000
1,1942.0,TheWitcher3:WildHunt,"6,48,49",2015-05-19,0.0,NaN,Action,First person,95.708657,2468.0,"121,472,533,1334,1593,1887,3025,9938,11270",93.714329,2494.0,https://www.igdb.com/games/the-witcher-3-wild-...,91.720000,26.0,2015.0,5.0,236208.966262,93.262780
2,72.0,Portal2,"3,6,9,12,14",2011-04-19,0.0,Point-and-click,NaN,Third person,91.331534,2116.0,"7350,11646,16992,20342,22387,24426,55173,55190...",91.887989,2129.0,https://www.igdb.com/games/portal-2,92.444444,13.0,2011.0,4.0,193257.526516,76.304192
3,472.0,TheElderScrollsV:Skyrim,"6,9,12",2011-11-11,0.0,NaN,NaN,Bird view,87.714979,2184.0,"56,59,121,533,538,832,1081,1942,3025",91.913045,2196.0,https://www.igdb.com/games/the-elder-scrolls-v...,96.111111,12.0,2011.0,11.0,191569.514797,75.637711
4,1009.0,TheLastofUs,9,2013-06-14,0.0,Fighting,NaN,Side view,94.494275,1835.0,"533,538,1020,1121,1164,1985,2031,11270,19441",93.016368,1851.0,https://www.igdb.com/games/the-last-of-us,91.538462,16.0,2013.0,6.0,173396.994439,68.462625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122397,36795.0,SuperDoomed'nDamned,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.igdb.com/games/super-doomedn-damned,NaN,NaN,NaN,NaN,NaN,NaN
122398,114314.0,DestleStrike,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"32902,37419,40524,43367,105233,111130,113895,1...",NaN,NaN,https://www.igdb.com/games/destle-strike,NaN,NaN,NaN,NaN,NaN,NaN
122399,115593.0,NextStop3,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"17613,36258,51577,55888,65827,76340,79134,1127...",NaN,NaN,https://www.igdb.com/games/next-stop-3,NaN,NaN,NaN,NaN,NaN,NaN
122400,115038.0,\u5e7d\u94c3\u5170-lilyofthehollow-,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,"8367,74127,81275,102420,108778,111130,113895,1...",NaN,NaN,https://www.igdb.com/games/you-ling-lan-lily-o...,NaN,NaN,NaN,NaN,NaN,NaN
122401,76632.0,[accuwar],82,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.igdb.com/games/accuwar,NaN,NaN,NaN,NaN,NaN,NaN

In [219]:
platforms = {
0 : 'missing',  
1 : 'missing',
2 : 'missing',
3 : 'Linux',
4 : 'Nintendo 64',
5 : 'Wii',
6 : 'PC',
7 : 'PlayStation',
8 : 'PlayStation 2',
9 : 'PlayStation 3',
11 : 'Xbox',
12 : 'Xbox 360',
13 : 'PC DOS',
14 : 'Mac',
15 : 'Commodore C64/128',
16 : 'Amiga',
18 : 'Nintendo Entertainment System (NES)',
19 : 'Super Nintendo Entertainment System (SNES)',
20 : 'Nintendo DS',
21 : 'Nintendo GameCube',
22 : 'Game Boy Color',
23 : 'Dreamcast',
24 : 'Game Boy Advance',
25 : 'Amstrad CPC',
26 : 'ZX Spectrum',
27 : 'MSX',
29 : 'Sega Mega Drive/Genesis',
30 : 'Sega 32X',
32 : 'Sega Saturn',
33 : 'Game Boy',
34 : 'Android',
35 : 'Sega Game Gear',
36 : 'Xbox Live Arcade',
37 : 'Nintendo 3DS',
38 : 'PlayStation Portable',
39 : 'iOS',
41 : 'Wii U',
42 : 'N-Gage',
44 : 'Tapwave Zodiac',
45 : 'PlayStation Network',
46 : 'PlayStation Vita',
47 : 'Virtual Console (Nintendo)',
48 : 'PlayStation 4',
49 : 'Xbox One',
50 : '3DO Interactive Multiplayer',
51 : 'Family Computer Disk System',
52 : 'Arcade',
53 : 'MSX2',
55 : 'Mobile',
56 : 'WiiWare',
57 : 'WonderSwan',
58 : 'Super Famicom',
59 : 'Atari 2600',
60 : 'Atari 7800',
61 : 'Atari Lynx',
62 : 'Atari Jaguar',
63 : 'Atari ST/STE',
64 : 'Sega Master System',
65 : 'Atari 8-bit',
66 : 'Atari 5200',
67 : 'Intellivision',
68 : 'ColecoVision',
69 : 'BBC Microcomputer System',
70 : 'Vectrex',
71 : 'Commodore VIC-20',
72 : 'Ouya',
73 : 'BlackBerry OS',
74 : 'Windows Phone',
75 : 'Apple II',
77 : 'Sharp X1',
78 : 'Sega CD',
79 : 'Neo Geo MVS',
80 : 'Neo Geo AES',
82 : 'Web browser',
84 : 'SG-1000',
85 : 'Donner Model 30',
86 : 'TurboGrafx-16/PC Engine',
87 : 'Virtual Boy',
88 : 'Odyssey',
89 : 'Microvision',
90 : 'Commodore PET',
91 : 'Bally Astrocade',
92 : 'SteamOS',
93 : 'Commodore 16',
94 : 'Commodore Plus/4',
95 : 'PDP-1',
96 : 'PDP-10',
97 : 'PDP-8',
98 : 'DEC GT40',
99 : 'Family Computer (FAMICOM)',
100 : 'Analogue electronics',
101 : 'Ferranti Nimrod Computer',
102 : 'EDSAC',
103 : 'PDP-7',
104 : 'HP 2100',
105 : 'HP 3000',
106 : 'SDS Sigma 7',
107 : 'Call-A-Computer time-shared mainframe computer system',
108 : 'PDP-11',
109 : 'CDC Cyber 70',
110 : 'PLATO',
111 : 'Imlac PDS-1',
112 : 'Microcomputer',
113 : 'OnLive Game System',
114 : 'Amiga CD32',
115 : 'Apple IIGS',
116 : 'Acorn Archimedes',
117 : 'Philips CD-i',
118 : 'FM Towns',
119 : 'Neo Geo Pocket',
120 : 'Neo Geo Pocket Color',
121 : 'Sharp X68000',
122 : 'Nuon',
123 : 'WonderSwan Color',
124 : 'SwanCrystal',
125 : 'PC-8801',
126 : 'TRS-80',
127 : 'Fairchild Channel F',
128 : 'PC Engine SuperGrafx',
129 : 'Texas Instruments TI-99',
130 : 'Nintendo Switch',
131 : 'Nintendo PlayStation',
132 : 'Amazon Fire TV',
133 : 'Philips Videopac G7000',
134 : 'Acorn Electron',
135 : 'Hyper Neo Geo 64',
136 : 'Neo Geo CD',
137 : 'New Nintendo 3DS',
138 : 'VC 4000',
139 : '1292 Advanced Programmable Video System',
140 : 'AY-3-8500',
141 : 'AY-3-8610',
142 : 'PC-50X Family',
143 : 'AY-3-8760',
144 : 'AY-3-8710',
145 : 'AY-3-8603',
146 : 'AY-3-8605',
147 : 'AY-3-8606',
148 : 'AY-3-8607',
149 : 'PC-98',
150 : 'Turbografx-16/PC Engine CD',
151 : 'TRS-80 Color Computer',
152 : 'FM-7',
153 : 'Dragon 32/64',
154 : 'Amstrad PCW',
155 : 'Tatung Einstein',
156 : 'Thomson MO5',
157 : 'NEC PC-6000 Series',
158 : 'Commodore CDTV',
159 : 'Nintendo DSi',
160 : 'Nintendo eShop',
161 : 'Windows Mixed Reality',
162 : 'Oculus VR',
163 : 'SteamVR',
164 : 'Daydream',
165 : 'PlayStation VR',
166 : 'PokĂŠmon mini',
}



#df['State'] = df.apply(lambda x: state_dict[x['City']] if x['City'] in state_dict else x['State'], axis=1)


#f['platforms'] = df.index.to_series().map(platforms)
#df['platforms']

In [220]:
df['platforms'] = df['platforms'].map(platforms)
df['platforms']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
122397    NaN
122398    NaN
122399    NaN
122400    NaN
122401    NaN
Name: platforms, Length: 122402, dtype: object

In [221]:
categories = {
    0:'Main Game',
    1:'DLC Addon',
    2:'Expansion',
    3:'Bundle',
    4:'Standalone Expansion',
    5:'Mod',
    6:'Episode',
    7:'Season'
}


#df['category'] = df.index.to_series().map(categories)
#df['category']

#df['category'] = df['category'].map(categories)
#df['category']

In [222]:
df['category'] = df['category'].map(categories)
df['category']

0         Main Game
1         Main Game
2         Main Game
3         Main Game
4         Main Game
            ...
122397    Main Game
122398    Main Game
122399    Main Game
122400    Main Game
122401    Main Game
Name: category, Length: 122402, dtype: object

In [223]:
df['category'].head(100)

0     Main Game
1     Main Game
2     Main Game
3     Main Game
4     Main Game
        ...
95    Main Game
96    Main Game
97    Main Game
98    Main Game
99    Main Game
Name: category, Length: 100, dtype: object

In [224]:
df

,id,name,platforms,first_release_date,category,genres,themes,player_perspectives,rating,rating_count,similar_games,total_rating,total_rating_count,url,aggregated_rating,aggregated_rating_count,year,month,weighted_score,normalized_weighted_score
0,1020.0,GrandTheftAutoV,NaN,2013-09-17,Main Game,NaN,NaN,NaN,91.007003,2783.0,"40,109,733,960,1121,1377,3188,3262,19441",93.423502,2817.0,https://www.igdb.com/games/grand-theft-auto-v,95.840000,34.0,2013.0,9.0,253272.490450,100.000000
1,1942.0,TheWitcher3:WildHunt,NaN,2015-05-19,Main Game,NaN,Action,First person,95.708657,2468.0,"121,472,533,1334,1593,1887,3025,9938,11270",93.714329,2494.0,https://www.igdb.com/games/the-witcher-3-wild-...,91.720000,26.0,2015.0,5.0,236208.966262,93.262780
2,72.0,Portal2,NaN,2011-04-19,Main Game,Point-and-click,NaN,Third person,91.331534,2116.0,"7350,11646,16992,20342,22387,24426,55173,55190...",91.887989,2129.0,https://www.igdb.com/games/portal-2,92.444444,13.0,2011.0,4.0,193257.526516,76.304192
3,472.0,TheElderScrollsV:Skyrim,NaN,2011-11-11,Main Game,NaN,NaN,Bird view,87.714979,2184.0,"56,59,121,533,538,832,1081,1942,3025",91.913045,2196.0,https://www.igdb.com/games/the-elder-scrolls-v...,96.111111,12.0,2011.0,11.0,191569.514797,75.637711
4,1009.0,TheLastofUs,NaN,2013-06-14,Main Game,Fighting,NaN,Side view,94.494275,1835.0,"533,538,1020,1121,1164,1985,2031,11270,19441",93.016368,1851.0,https://www.igdb.com/games/the-last-of-us,91.538462,16.0,2013.0,6.0,173396.994439,68.462625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122397,36795.0,SuperDoomed'nDamned,NaN,NaN,Main Game,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.igdb.com/games/super-doomedn-damned,NaN,NaN,NaN,NaN,NaN,NaN
122398,114314.0,DestleStrike,NaN,NaN,Main Game,NaN,NaN,NaN,NaN,NaN,"32902,37419,40524,43367,105233,111130,113895,1...",NaN,NaN,https://www.igdb.com/games/destle-strike,NaN,NaN,NaN,NaN,NaN,NaN
122399,115593.0,NextStop3,NaN,NaN,Main Game,NaN,NaN,NaN,NaN,NaN,"17613,36258,51577,55888,65827,76340,79134,1127...",NaN,NaN,https://www.igdb.com/games/next-stop-3,NaN,NaN,NaN,NaN,NaN,NaN
122400,115038.0,\u5e7d\u94c3\u5170-lilyofthehollow-,NaN,NaN,Main Game,NaN,NaN,NaN,NaN,NaN,"8367,74127,81275,102420,108778,111130,113895,1...",NaN,NaN,https://www.igdb.com/games/you-ling-lan-lily-o...,NaN,NaN,NaN,NaN,NaN,NaN
122401,76632.0,[accuwar],NaN,NaN,Main Game,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.igdb.com/games/accuwar,NaN,NaN,NaN,NaN,NaN,NaN

In [225]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122402 entries, 0 to 122401
Data columns (total 20 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   id                         122401 non-null  float64
 1   name                       122400 non-null  object
 2   platforms                  0 non-null       object
 3   first_release_date         64068 non-null   object
 4   category                   122401 non-null  object
 5   genres                     23 non-null      object
 6   themes                     22 non-null      object
 7   player_perspectives        7 non-null       object
 8   rating                     18645 non-null   float64
 9   rating_count               18648 non-null   float64
 10  similar_games              87876 non-null   object
 11  total_rating               18648 non-null   float64
 12  total_rating_count         18648 non-null   float64
 13  url                        122400 non-null  object
 14  aggregated_rating          12417 non-null   float64
 15  aggregated_rating_count    12417 non-null   float64
 16  year                       64068 non-null   float64
 17  month                      64068 non-null   float64
 18  weighted_score             18645 non-null   float64
 19  normalized_weighted_score  18645 non-null   float64
dtypes: float64(11), object(9)
memory usage: 18.7+ MB

In [226]:
df.head()

,id,name,platforms,first_release_date,category,genres,themes,player_perspectives,rating,rating_count,similar_games,total_rating,total_rating_count,url,aggregated_rating,aggregated_rating_count,year,month,weighted_score,normalized_weighted_score
0,1020.0,GrandTheftAutoV,NaN,2013-09-17,Main Game,NaN,NaN,NaN,91.007003,2783.0,"40,109,733,960,1121,1377,3188,3262,19441",93.423502,2817.0,https://www.igdb.com/games/grand-theft-auto-v,95.840000,34.0,2013.0,9.0,253272.490450,100.000000
1,1942.0,TheWitcher3:WildHunt,NaN,2015-05-19,Main Game,NaN,Action,First person,95.708657,2468.0,"121,472,533,1334,1593,1887,3025,9938,11270",93.714329,2494.0,https://www.igdb.com/games/the-witcher-3-wild-...,91.720000,26.0,2015.0,5.0,236208.966262,93.262780
2,72.0,Portal2,NaN,2011-04-19,Main Game,Point-and-click,NaN,Third person,91.331534,2116.0,"7350,11646,16992,20342,22387,24426,55173,55190...",91.887989,2129.0,https://www.igdb.com/games/portal-2,92.444444,13.0,2011.0,4.0,193257.526516,76.304192
3,472.0,TheElderScrollsV:Skyrim,NaN,2011-11-11,Main Game,NaN,NaN,Bird view,87.714979,2184.0,"56,59,121,533,538,832,1081,1942,3025",91.913045,2196.0,https://www.igdb.com/games/the-elder-scrolls-v...,96.111111,12.0,2011.0,11.0,191569.514797,75.637711
4,1009.0,TheLastofUs,NaN,2013-06-14,Main Game,Fighting,NaN,Side view,94.494275,1835.0,"533,538,1020,1121,1164,1985,2031,11270,19441",93.016368,1851.0,https://www.igdb.com/games/the-last-of-us,91.538462,16.0,2013.0,6.0,173396.994439,68.462625

In [227]:
df.tail()

,id,name,platforms,first_release_date,category,genres,themes,player_perspectives,rating,rating_count,similar_games,total_rating,total_rating_count,url,aggregated_rating,aggregated_rating_count,year,month,weighted_score,normalized_weighted_score
122397,36795.0,SuperDoomed'nDamned,NaN,NaN,Main Game,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.igdb.com/games/super-doomedn-damned,NaN,NaN,NaN,NaN,NaN,NaN
122398,114314.0,DestleStrike,NaN,NaN,Main Game,NaN,NaN,NaN,NaN,NaN,"32902,37419,40524,43367,105233,111130,113895,1...",NaN,NaN,https://www.igdb.com/games/destle-strike,NaN,NaN,NaN,NaN,NaN,NaN
122399,115593.0,NextStop3,NaN,NaN,Main Game,NaN,NaN,NaN,NaN,NaN,"17613,36258,51577,55888,65827,76340,79134,1127...",NaN,NaN,https://www.igdb.com/games/next-stop-3,NaN,NaN,NaN,NaN,NaN,NaN
122400,115038.0,\u5e7d\u94c3\u5170-lilyofthehollow-,NaN,NaN,Main Game,NaN,NaN,NaN,NaN,NaN,"8367,74127,81275,102420,108778,111130,113895,1...",NaN,NaN,https://www.igdb.com/games/you-ling-lan-lily-o...,NaN,NaN,NaN,NaN,NaN,NaN
122401,76632.0,[accuwar],NaN,NaN,Main Game,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.igdb.com/games/accuwar,NaN,NaN,NaN,NaN,NaN,NaN

In [228]:
df.describe()

,id,rating,rating_count,total_rating,total_rating_count,aggregated_rating,aggregated_rating_count,year,month,weighted_score,normalized_weighted_score
count,122401.000000,18645.000000,18648.000000,18648.000000,18648.000000,12417.000000,12417.000000,64068.000000,64068.000000,18645.000000,18645.000000
mean,71442.522512,68.727962,23.332207,68.797717,25.549067,68.669364,3.777080,2007.398998,7.522320,1865.913579,0.736722
std,41101.619786,14.897546,96.058306,14.303439,97.694489,16.275314,4.214995,11.352676,3.773595,8326.753374,3.287666
min,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1970.000000,1.000000,0.000000,0.000000
25%,37901.000000,60.000000,1.000000,60.000000,1.000000,60.000000,1.000000,1999.000000,4.000000,80.000000,0.031587
50%,71091.000000,70.000000,3.000000,70.145445,5.000000,70.875000,2.000000,2011.000000,8.000000,217.500000,0.085876
75%,107246.000000,80.000000,11.000000,79.988435,14.000000,80.000000,5.000000,2017.000000,11.000000,764.819160,0.301975
max,141114.000000,100.000000,2783.000000,100.000000,2817.000000,100.000000,60.000000,2024.000000,12.000000,253272.490450,100.000000

In [229]:
df.groupby('year').count().sort_values('id', ascending = False)

,id,name,platforms,first_release_date,category,genres,themes,player_perspectives,rating,rating_count,similar_games,total_rating,total_rating_count,url,aggregated_rating,aggregated_rating_count,month,weighted_score,normalized_weighted_score
year,,,,,,,,,,,,,,,,,,,
2017.0,6571,6571,0,6571,6571,1,2,0,1399,1400,6233,1400,1400,6571,807,807,6571,1399,1399
2016.0,4451,4451,0,4451,4451,1,2,0,1487,1487,4080,1487,1487,4451,868,868,4451,1487,1487
2020.0,4443,4443,0,4443,4443,0,0,0,539,539,4016,539,539,4443,448,448,4443,539,539
2018.0,3443,3443,0,3443,3443,0,2,0,999,999,3205,999,999,3443,666,666,3443,999,999
2019.0,3216,3216,0,3216,3216,0,0,0,839,839,2982,839,839,3216,580,580,3216,839,839
2015.0,3075,3075,0,3075,3075,1,2,1,1289,1289,2770,1289,1289,3075,757,757,3075,1289,1289
2014.0,2408,2408,0,2408,2408,0,0,0,1030,1030,2030,1030,1030,2408,641,641,2408,1030,1030
2013.0,2004,2004,0,2004,2004,2,1,1,842,842,1719,842,842,2004,579,579,2004,842,842
2010.0,1765,1765,0,1765,1765,2,2,0,588,589,1483,589,589,1765,439,439,1765,588,588
2011.0,1739,1739,0,1739,1739,2,1,2,670,670,1454,670,670,1739,486,486,1739,670,670
2012.0,1677,1677,0,1677,1677,2,2,0,709,710,1446,710,710,1677,526,526,1677,709,709
2009.0,1638,1638,0,1638,1638,2,1,0,718,718,1453,718,718,1638,589,589,1638,718,718
2008.0,1365,1365,0,1365,1365,1,1,0,684,684,1253,684,684,1365,584,584,1365,684,684
1994.0,1238,1238,0,1238,1238,0,0,0,199,199,1192,199,199,1238,53,53,1238,199,199
2006.0,1201,1201,0,1201,1201,0,1,0,611,611,1129,611,611,1201,521,521,1201,611,611
2007.0,1182,1182,0,1182,1182,3,0,1,634,634,1099,634,634,1182,566,566,1182,634,634
1995.0,1176,1176,0,1176,1176,0,0,0,200,200,1114,200,200,1176,106,106,1176,200,200
2000.0,1141,1141,0,1141,1141,0,0,0,243,243,1080,243,243,1141,119,119,1141,243,243
2001.0,1138,1138,0,1138,1138,0,0,0,297,297,1069,297,297,1138,184,184,1138,297,297
1993.0,1117,1117,0,1117,1117,0,0,0,171,171,1079,171,171,1117,34,34,1117,171,171
2002.0,1113,1113,0,1113,1113,1,0,0,391,391,1071,391,391,1113,276,276,1113,391,391
1999.0,1081,1081,0,1081,1081,0,0,0,264,264,1010,264,264,1081,127,127,1081,264,264
2005.0,1078,1078,0,1078,1078,0,0,0,503,503,1026,503,503,1078,430,430,1078,503,503
1992.0,1052,1052,0,1052,1052,0,0,0,154,154,1012,154,154,1052,20,20,1052,154,154
2003.0,1041,1041,0,1041,1041,0,0,0,442,442,996,442,442,1041,359,359,1041,442,442
1996.0,1010,1010,0,1010,1010,1,1,0,210,210,949,210,210,1010,110,110,1010,210,210
2004.0,997,997,0,997,997,2,0,2,421,421,928,421,421,997,342,342,997,421,421
1991.0,970,970,0,970,970,0,1,0,161,161,936,161,161,970,20,20,970,161,161
1990.0,936,936,0,936,936,1,1,0,134,134,882,134,134,936,20,20,936,134,134
1987.0,920,920,0,920,920,0,0,0,84,84,892,84,84,920,31,31,920,84,84
1998.0,917,917,0,917,917,1,2,0,204,204,844,204,204,917,52,52,917,204,204
1997.0,892,892,0,892,892,0,0,0,206,206,842,206,206,892,71,71,892,206,206
1989.0,854,854,0,854,854,0,0,0,94,94,826,94,94,854,17,17,854,94,94
1988.0,822,822,0,822,822,0,0,0,79,79,796,79,79,822,16,16,822,79,79
1983.0,725,725,0,725,725,0,0,0,50,50,694,50,50,725,27,27,725,50,50
1986.0,700,700,0,700,700,0,0,0,62,62,682,62,62,700,20,20,700,62,62
1984.0,566,566,0,566,566,0,0,0,56,56,536,56,56,566,25,25,566,56,56
2021.0,551,551,0,551,551,0,0,0,3,3,467,3,3,551,2,2,551,3,3
1985.0,540,540,0,540,540,0,0,0,58,58,514,58,58,540,35,35,540,58,58
1982.0,515,515,0,515,515,0,0,0,47,47,496,47,47,515,26,26,515,47,47
1981.0,263,263,0,263,263,0,0,0,23,23,254,23,23,263,12,12,263,23,23
1980.0,154,154,0,154,154,0,0,0,17,17,145,17,17,154,9,9,154,17,17
1979.0,94,94,0,94,94,0,0,0,7,7,90,7,7,94,3,3,94,7,7
1978.0,69,69,0,69,69,0,0,0,3,3,62,3,3,69,1,1,69,3,3
1977.0,48,48,0,48,48,0,0,0,3,3,45,3,3,48,0,0,48,3,3
1976.0,42,42,0,42,42,0,0,0,1,1,40,1,1,42,0,0,42,1,1
2022.0,37,37,0,37,37,0,0,0,0,0,29,0,0,37,0,0,37,0,0
1972.0,26,26,0,26,26,0,0,0,2,2,24,2,2,26,1,1,26,2,2
1975.0,22,22,0,22,22,0,0,0,0,0,22,0,0,22,0,0,22,0,0
1973.0,18,18,0,18,18,0,0,0,1,1,13,1,1,18,0,0,18,1,1
1974.0,16,16,0,16,16,0,0,0,0,0,16,0,0,16,0,0,16,0,0
1971.0,5,5,0,5,5,0,0,0,1,1,5,1,1,5,0,0,5,1,1
2023.0,3,3,0,3,3,0,0,0,0,0,2,0,0,3,0,0,3,0,0
1970.0,2,2,0,2,2,0,0,0,0,0,2,0,0,2,0,0,2,0,0
2024.0,1,1,0,1,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0

In [230]:
df.groupby('platforms').count().sort_values('id', ascending = False)

Empty DataFrame
Columns: [id, name, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, year, month, weighted_score, normalized_weighted_score]
Index: []

In [231]:
#df_count = df.groupby('year')['platforms'].apply(lambda x: (x=='PC').count()).reset_index(name='count')
#groupby year and count number of 'platforms' equal to 'PC'



df.groupby('year')['platforms'].apply(lambda x: (x=='PC').count()).reset_index(name='count')

      year  count
0   1970.0      2
1   1971.0      5
2   1972.0     26
3   1973.0     18
4   1974.0     16
5   1975.0     22
6   1976.0     42
7   1977.0     48
8   1978.0     69
9   1979.0     94
10  1980.0    154
11  1981.0    263
12  1982.0    515
13  1983.0    725
14  1984.0    566
15  1985.0    540
16  1986.0    700
17  1987.0    920
18  1988.0    822
19  1989.0    854
20  1990.0    936
21  1991.0    970
22  1992.0   1052
23  1993.0   1117
24  1994.0   1238
25  1995.0   1176
26  1996.0   1010
27  1997.0    892
28  1998.0    917
29  1999.0   1081
30  2000.0   1141
31  2001.0   1138
32  2002.0   1113
33  2003.0   1041
34  2004.0    997
35  2005.0   1078
36  2006.0   1201
37  2007.0   1182
38  2008.0   1365
39  2009.0   1638
40  2010.0   1765
41  2011.0   1739
42  2012.0   1677
43  2013.0   2004
44  2014.0   2408
45  2015.0   3075
46  2016.0   4451
47  2017.0   6571
48  2018.0   3443
49  2019.0   3216
50  2020.0   4443
51  2021.0    551
52  2022.0     37
53  2023.0      3
54  2024.0      1

In [232]:
##df.groupby(['continent']).apply(lambda x: x[x['Member_G20'] == 'Y' ]['GDP(trillion)'].sum())

#So we will first group by continent and then filter the rows in each group where a country is a G20 member


#df.groupby('year').apply(lambda x: x[x['platforms'] == 'PC'].sum())

In [233]:
#POK_Data[POK_Data['Name'].str.contains('^M')]

#foo[foo.b.str.contains('oo', regex= True, na=False)]

df[df['platforms'].str.contains('^PC', regex = True, na = False)]

Empty DataFrame
Columns: [id, name, platforms, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, year, month, weighted_score, normalized_weighted_score]
Index: []

In [234]:
result_PC = df[df['platforms'].str.contains('^PC', regex = True, na = False)]
result_PC

Empty DataFrame
Columns: [id, name, platforms, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, year, month, weighted_score, normalized_weighted_score]
Index: []

In [235]:
df[df['platforms'].str.contains('^Xbox', regex = True, na = False)]

Empty DataFrame
Columns: [id, name, platforms, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, year, month, weighted_score, normalized_weighted_score]
Index: []

In [236]:
result_xbox = df[df['platforms'].str.contains('^Xbox', regex = True, na = False)]
result_xbox

Empty DataFrame
Columns: [id, name, platforms, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, year, month, weighted_score, normalized_weighted_score]
Index: []

In [237]:
result_xbox.groupby('year').count()

Empty DataFrame
Columns: [id, name, platforms, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, month, weighted_score, normalized_weighted_score]
Index: []

In [238]:
result_play.groupby('year').count()

,id,name,platforms,first_release_date,category,genres,themes,player_perspectives,rating,rating_count,similar_games,total_rating,total_rating_count,url,aggregated_rating,aggregated_rating_count,month,weighted_score,normalized_weighted_score
year,,,,,,,,,,,,,,,,,,,
2004.0,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1
2005.0,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,1,1,1
2006.0,1,1,1,1,1,0,1,0,1,1,1,1,1,1,1,1,1,1,1
2007.0,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1
2010.0,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1
2011.0,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,1,1,1
2012.0,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,1,1,1
2018.0,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,1,1,1

In [239]:
result_PC.groupby('year').count()

Empty DataFrame
Columns: [id, name, platforms, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, month, weighted_score, normalized_weighted_score]
Index: []

In [240]:
result_play_4.groupby('year').count()

,id,name,platforms,first_release_date,category,genres,themes,player_perspectives,rating,rating_count,similar_games,total_rating,total_rating_count,url,aggregated_rating,aggregated_rating_count,month,weighted_score,normalized_weighted_score
year,,,,,,,,,,,,,,,,,,,
2012.0,1,1,1,1,1,0,0,0,1,1,1,1,1,1,1,1,1,1,1

In [241]:
#PlayStation

In [242]:
result_play = df[df['platforms'].str.contains('^PlayStation', regex = True, na = False)]
result_play

Empty DataFrame
Columns: [id, name, platforms, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, year, month, weighted_score, normalized_weighted_score]
Index: []

In [243]:
concat_frame = [result_play, result_xbox, ]
new_df = pd.concat(concat_frame)
new_df

Empty DataFrame
Columns: [id, name, platforms, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, year, month, weighted_score, normalized_weighted_score]
Index: []

In [244]:
result_play_4 = df[df['platforms'].str.contains('^PlayStation 4', regex = True, na = False)]
result_play_4

Empty DataFrame
Columns: [id, name, platforms, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, year, month, weighted_score, normalized_weighted_score]
Index: []

In [245]:
## Groupby multiple columns and aggregate on selected column
#result = df.groupby(['Courses','Fee'])['Courses'].count()

#df.groupby(['year', 'platforms'])['platforms'].count()

In [246]:
df.groupby(['year', 'platforms']).count()

Empty DataFrame
Columns: [id, name, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, month, weighted_score, normalized_weighted_score]
Index: []

# How many titles were released per year for each platform? (Tip: it makes sense to study the most recent platform versions that we have enough data for Main Game categories)

In [247]:
result = df.groupby('platforms').count().sort_values('id', ascending=False)
result

Empty DataFrame
Columns: [id, name, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, year, month, weighted_score, normalized_weighted_score]
Index: []

In [248]:
df[df['platforms'] == 'missing']

Empty DataFrame
Columns: [id, name, platforms, first_release_date, category, genres, themes, player_perspectives, rating, rating_count, similar_games, total_rating, total_rating_count, url, aggregated_rating, aggregated_rating_count, year, month, weighted_score, normalized_weighted_score]
Index: []

# Do game ratings vary from year to year for each of these platforms? And how?